
#update{
    display: none;
}

#addrubutton{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#updaterubutton{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

#label{
  text-align: center;
}

.centerbutton {
  position: center;
  left: 50%;
  text-align: center;
  align-content: center;
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
}

.centeredlabel {
  text-align: center; 
}

.runninglog {
  text-align: center;
  padding: 10rem;
  margin-bottom: 1rem;
}

.border {
  border: 10px goldenrod;
}


/* Styling for table */
html,
body {
	height: 100%;
}

body {
	margin: 0;
  background: linear-gradient(30deg, #49a09d, goldenrod);
  height: 100%; 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-size: cover;
	font-family: sans-serif;
	font-weight: 100;
}

table{
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px 12px 12px;
 overflow: hidden;
}
td , th{
 padding: 15px 20px;
 text-align: center;
 

}
th{
 background-color: #ba68c8;
 color: #000000;
 text-align: center;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;

}
tr{
 width: 100%;
 text-align: center;
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
 background-color: #eeeeee;
}

.grid{
  box-shadow: 0 2px 15px rgba(64,64,64,.7);
  border-radius: 12px 12px 12px 12px;
  overflow: hidden;
}

.buttonspacing{
  padding: 1rem;
  margin-bottom: 1rem;
}

.topgridspacing{
  padding: 1rem;
}

.bottomgridspacing{
  margin-bottom: 1rem;
}

/*  Blurred logo */

/* We’ll set some colors and center everything. */

/* body {
  background: #4c268f;
  color: #99eeb4;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* We set the position to relative so that we can stack a blurred pseudo element on top of the original text */

span {
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 120px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
  text-align: center;
}

/* We create a pseudo element and  it using the SVG filter. We’ll grab the content from the custom HTML attribute. */

span:before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(filter-content);

  filter: url(#motion-blur-filter);
}

/* We hide the SVG filter element from the DOM as it would take up some space */

svg {
  display: none;
}

/* Form text style */

.formtext{
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase; 
  letter-spacing: 0.05em;
  display: inline-block;
  text-align: center;
}

/* Form text style */

/* Form label style for RunningLog */

runningtext {
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 100px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
  text-align: center;
}

/* We create a pseudo element and  it using the SVG filter. We’ll grab the content from the custom HTML attribute. */

runningtext:before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(filter-content);

  filter: url(#motion-blur-filter);
}

/* We hide the SVG filter element from the DOM as it would take up some space */

svg {
  display: none;
}

/* Form text style */

.formtext{
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase; 
  letter-spacing: 0.05em;
  display: inline-block;
  text-align: center;
}

/* Form label style for RunningLog */

/* RunningLog text */

p{
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  text-transform: uppercase; 
  letter-spacing: 0.05em;
  display: inline-block; 
}

/* RunningLog text */

/* logos */

img {
  text-align: center;
  width: 25%;
  height: auto;
}

web { 
  text-align: center;
  width: 10%;
  height: auto;
}

/* logos */

/* credit text */

.p1{
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: #000000;
  text-transform: uppercase; 
  letter-spacing: 0.05em;
  display: inline-block;
  text-align: center;
}

/* credit text */

/* Show placeholder on time field */



/* Show placeholder on time field */

/* app badges */

app-badge{
  width:100%;
}

/* app badges */
